@using System.Security.Claims
@model videorama.ViewModels.AccueilViewModel

@section scripts {
    <script>
        function CallChangefunc(val) {
            $.ajax({
                type: "GET",
                url: 'IndexTop',
                data: { topValue: val },
                success: function (data) {
                    if (data) {
                        $('#dataTable').html(data);
                    }
                },
                error: function () {
                    $.ajax({
                        type: "GET",
                        url: 'Home/IndexTop',
                        data: { topValue: val },
                        success: function (data) {
                            if (data) {
                                $('#dataTable').html(data);
                            }
                        }
                    });
                }
            });
        }
        $(document).ready(CallChangefunc(5))
    </script>
}

@{
    ViewBag.Title = "Accueil";

    string userName = "";
    string role = "";
    string id = "";
    int idUser = 0;

    if (Request.IsAuthenticated)
    {
        var claimIdentity = User.Identity as ClaimsIdentity;

        if (claimIdentity != null)
        {
            userName = claimIdentity.FindFirst(ClaimTypes.Name).Value;
            role = claimIdentity.FindFirst(ClaimTypes.Role).Value;
            id = claimIdentity.FindFirst(ClaimTypes.NameIdentifier).Value;
            idUser = Convert.ToInt32(id);
        }
    }
}

<div class="container-fluid">
    @if (Request.IsAuthenticated)
    {
        <div class="row">
            <h2>Bienvenue, @userName</h2>
            <hr size=2 align=left width="60%" />
        </div>
    }

    <div class="row">
        <div class="col-md-7">
            <h3>Les nouveautés</h3>
            @foreach (var item in Model.NewProducts)
            {
                <ul class="list-unstyled">
                    <li class="media">
                        <div class="media-left">
                            <img id="img_new" src="..@String.Format("{0}",item.Picture)" alt="image">
                        </div>
                        <div class="media-body">
                            <a>
                                <h5 class="mt-0">@Html.ActionLink(item.Title, "Details", "Products", new { id = item.IdProduct }, null)</h5>
                            </a>
                            @Html.DisplayFor(modelItem => item.Synopsis) ...
                        </div>
                    </li>
                </ul>
            }
        </div>
        <div class="col-md-4">
            <div class="top-table">
                <table class="table">
                    <thead>
                        <tr>
                            <th>
                                <h4>
                                    @Html.DropDownList("Sortby", new SelectListItem[]
                                { new SelectListItem() { Text = "Top 5", Value = "5" },
                                new SelectListItem() { Text = "Top 10", Value = "10" },
                                new SelectListItem() { Text = "Top 25", Value = "25" },
                                new SelectListItem() { Text = "Top 50", Value = "50" }},
                                new { @onchange="CallChangefunc(this.value)" }) des DVD loués
                                </h4>
                            </th>
                        </tr>
                    </thead>
                    <tbody id="dataTable"></tbody>
                </table>
            </div>
        </div>
    </div>
    @if (Request.IsAuthenticated)
    {
        if (role == "User")
        {
            if (Model.Rent.Count() >= 1)
            {
                <div class="row">
                    <div class="col-md-7">
                        <div class="card card-top">
                            <div class="card-header">
                                <h3>Locations en cours</h3>
                            </div>
                            <div class="card-body">
                                @foreach (var item in Model.Rent.Take(3))
                                {
                                    <div class="align-card">
                                        <div class="card" style="width: 18rem;">
                                            <img id="img_new" src="..@String.Format("{0}", item.Item2.Picture)" alt="image">
                                            <div class="card-body fit">
                                                <p class="card-text">@Html.ActionLink(item.Item2.Title, "Details", "Products", new { id = item.Item2.IdProduct }, null)</p>
                                            </div>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-1">
                        <a href=@Url.Action("Rents", "Rents", new { id = idUser }) class="btn btn-primary">Voir plus</a>
                    </div>
                </div>
            }
        }
    }
</div>