@using System.Security.Claims
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Videorama - @ViewBag.Title</title>
    <link href="~/Content/simple-sidebar.css" rel="stylesheet" type="text/css" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    @{
        string userName ="";
        string role = "";
        string id = "";
        int idUser = 0;
        int productInBasket = 0;

        if (Request.IsAuthenticated)
        {
            var claimIdentity = User.Identity as ClaimsIdentity;

            if (claimIdentity != null)
            {
                userName = claimIdentity.FindFirst(ClaimTypes.Name).Value;
                role = claimIdentity.FindFirst(ClaimTypes.Role).Value;
                id = claimIdentity.FindFirst(ClaimTypes.NameIdentifier).Value;
                idUser = Convert.ToInt32(id);
                productInBasket = claimIdentity.FindAll(ClaimTypes.UserData).Count() - 1;
            }
        }
    }
    <div id="nav_bar" class="navbar navbar-inverse navbar-fixed-top">
        <div class="navbar-header">
            <a href=@Url.Action("Index", "Home")>
                <img class="logo" src="~/Content/Images/logo.png" />
            </a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav mr-auto">
                <li class="nav-item">
                    <div class="search-bar">
                        @using (Html.BeginForm("Search", "Home", FormMethod.Post))
                        {
                            <select class="custom-select" name="selectType">
                                <option value="1" selected>Film</option>
                                <option value="2">Série</option>
                                <option value="3">Dessins animés</option>
                            </select>
                            @Html.TextBox("SearchString", null, new { placeholder = "Recherche ..." })
                            <input class="btn btn-outline-secondary" type="submit" value="OK" />
                        }
                    </div>
                </li>

            <ul class="nav navbar-nav">
                <li class="nav-item"><a href="@Url.Action("Basket", "Products")">Panier <span class="badge">
                  @productInBasket</span></a></li>
                @if (!Request.IsAuthenticated)
                {
                    <li class="nav-item">@Html.ActionLink("Connexion", "Login", "Authentication")</li>
                }
                @if (Request.IsAuthenticated)
                {
                    <li class="nav-item">@Html.ActionLink("Mon profil", "Detail", "Account")</li>
                    <li class="nav-item">@Html.ActionLink("Deconnexion", "Logout", "Authentication")</li>
                }
            </ul>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row row-content-layout">
            <div class="col-xs-12 col-sm-3 col-md-3 col-lg-2 col-xl-2 sidebar-offcanvas" id="sidebar" role="navigation">
                <!-- Sidebar -->
                <div id="sidebar-nav">
                    <ul id="sidebar_second" class="nav">
                        <li class="active">
                            @Html.ActionLink("Liste des films", "ProductsList", "Products", new { type = 1 }, null)
                        </li>
                        <li>
                            @Html.ActionLink("Liste des séries", "ProductsList", "Products", new { type = 2 }, null)
                        </li>
                        <li>
                            @Html.ActionLink("Liste des dessins animés", "ProductsList", "Products", new { type = 3 }, null)
                        </li>
                        @if (Request.IsAuthenticated)
                        {
                            if (role == "User")
                            {
                                <li>
                                    @Html.ActionLink("Mes locations", "Rents", "Rents", new { id = idUser }, null)
                                </li>
                            }
                            if (role == "Admin")
                            {
                                <li>
                                    @Html.ActionLink("Registre des clients", "Customers", "Admin")
                                </li>
                                <li>
                                    @Html.ActionLink("Gestion des locations", "Rents", "Admin")
                                </li>
                                <li>
                                    @Html.ActionLink("Gestion des stocks", "Stock", "Admin")
                                </li>
                            }
                        }
                    </ul>
                </div>
            </div>
            <div class="col-xs-12 col-sm-9 col-md-9 col-lg-10 col-xl-10">
                <br>
                @RenderBody()
                <hr />
            </div>
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <script>
        function sendLocalStorage() {
            idsInLocalStorage = localStorage.getItem("productList");
            var targetUrl = '/Products/Basket/?idsInLocalStorage=' + JSON.parse(idsInLocalStorage);
            window.location = targetUrl;
        };
    </script>
</body>
</html>