@model videorama.ViewModels.LoginViewModel
@{

    Layout = "~/Views/Shared/_LayoutAuthentication.cshtml";
    ViewBag.Title = "Login";
}

<div class="col-12">
    <h2>Connectez-vous</h2>

    @using (Html.BeginForm("Login", "Authentication", new { ReturnUrl = Request.QueryString["ReturnUrl"] }, FormMethod.Post))
    {
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            @Html.LabelFor(m => m.UserName)
            @Html.TextBoxFor(m => m.UserName, null, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.UserName, "", new { @class = "text-danger" })
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.Password)
            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
        </div>
        <input class="btn btn-primary" type="submit" value="OK" />
    }

    <p>Pas encore de compte ? @Html.ActionLink("Inscrivez-vous !", "Register", "Authentication")</p>


</div>

    

