@model videorama.ViewModels.AuthenticationViewModel
@{

    Layout = "~/Views/Shared/_LayoutAuthentication.cshtml";
    ViewBag.Title = "Login";
}

<h2>Connectez-vous</h2>

<div>
    @using (Html.BeginForm("CheckLogin", "Authentication", FormMethod.Post))
    {
        @Html.LabelFor(m => m.User.Username, "Nom d'utilisateur")
        @Html.TextBoxFor(m => m.User.Username, null, new { required = "required" })

        @Html.LabelFor(m => m.User.Password, "Mot de passe")
        @Html.PasswordFor(m => m.User.Password, new { required = "required" })

        <input class="btn btn-outline-secondary" type="submit" value="OK" />
    }

    <p>Pas encore de compte ? @Html.ActionLink("Inscrivez-vous !", "Register", "Authentication")</p>


</div>

