@model videorama.ViewModels.AuthenticationViewModel
@{

    Layout = "~/Views/Shared/_LayoutAuthentication.cshtml";
    ViewBag.Title = "Inscription";
}

<div class="col-12">
    <h2>Inscrivez-vous</h2>
    @using (Html.BeginForm("Register", "Authentication", FormMethod.Post))
    {
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 col-xl-6">
            <div class="form-group">
                @Html.LabelFor(m => m.Customer.Username, "Nom d'utilisateur")
                @Html.TextBoxFor(m => m.Customer.Username, null, new { @class = "form-control", required = "required" })
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Customer.FirstName, "Prénom")
                @Html.TextBoxFor(m => m.Customer.FirstName, null, new { @class = "form-control", required = "required" })
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Customer.LastName, "Nom")
                @Html.TextBoxFor(m => m.Customer.LastName, null, new { @class = "form-control", required = "required" })
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Customer.Email)
                @Html.TextBoxFor(m => m.Customer.Email, null, new { @class = "form-control", required = "required" })
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Customer.Password, "Mot de passe")
                @Html.PasswordFor(m => m.Customer.Password, new { @class = "form-control", required = "required" })
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 col-xl-6">
            <div class="form-group">
                @Html.LabelFor(m => m.Customer.Address, "Adresse")
                @Html.TextBoxFor(m => m.Customer.Address, null, new { @class = "form-control", required = "required" })
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Customer.PostalCode, "Code postal")
                @Html.TextBoxFor(m => m.Customer.PostalCode, null, new { @class = "form-control", required = "required" })
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Customer.Town, "Région")
                @Html.TextBoxFor(m => m.Customer.Town, null, new { @class = "form-control", required = "required" })
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Customer.Country, "Pays")
                @Html.TextBoxFor(m => m.Customer.Country, null, new { @class = "form-control", required = "required" })
            </div>
            <input class="btn btn-primary" type="submit" value="OK" />
        </div>
    }

    <p>Déjà un compte ? @Html.ActionLink("Connectez-vous !", "Login", "Authentication")</p>
</div>

