@model videorama.ViewModels.RegisterViewModel
@{

    Layout = "~/Views/Shared/_LayoutAuthentication.cshtml";
    ViewBag.Title = "Inscription";
}

<h2>Inscrivez-vous</h2>

<div>
    @using (Html.BeginForm("SaveRegister", "Authentication", FormMethod.Post))
    {
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        @Html.LabelFor(m => m.Customer.Username, "Nom d'utilisateur")
        @Html.TextBoxFor(m => m.Customer.Username, null, new { required = "required" })

        @Html.LabelFor(m => m.Customer.FirstName, "Prénom")
        @Html.TextBoxFor(m => m.Customer.FirstName, null, new { required = "required" })

        @Html.LabelFor(m => m.Customer.LastName, "Nom")
        @Html.TextBoxFor(m => m.Customer.LastName, null, new { required = "required" })

        @Html.LabelFor(m => m.Customer.Email)
        @Html.TextBoxFor(m => m.Customer.Email, null, new { required = "required" })

        @Html.LabelFor(m => m.Customer.Password, "Mot de passe")
        @Html.PasswordFor(m => m.Customer.Password, new { required = "required" })

        @Html.LabelFor(m => m.Customer.Address, "Adresse")
        @Html.TextBoxFor(m => m.Customer.Address, null, new { required = "required" })

        @Html.LabelFor(m => m.Customer.PostalCode, "Code postal")
        @Html.TextBoxFor(m => m.Customer.PostalCode, null, new { required = "required" })

        @Html.LabelFor(m => m.Customer.Town, "Région")
        @Html.TextBoxFor(m => m.Customer.Town, null, new { required = "required" })

        @Html.LabelFor(m => m.Customer.Country, "Pays")
        @Html.TextBoxFor(m => m.Customer.Country, null, new { required = "required" })
        <input class="btn btn-outline-secondary" type="submit" value="OK" />
    }

    <p>Déjà un compte ? @Html.ActionLink("Connectez-vous !", "Login", "Authentication")</p>
</div>

