@model Videorama.Models.Customer
@{

    Layout = "~/Views/Shared/_LayoutAuthentication.cshtml";
    ViewBag.Title = "Inscription";
}

<div class="col-12">
    <h2>Inscrivez-vous</h2>
    @using (Html.BeginForm("Register", "Authentication", FormMethod.Post))
    {
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 col-xl-6">
            <div class="form-group">
                @Html.LabelFor(m => m.Username, "Nom d'utilisateur")
                @Html.TextBoxFor(m => m.Username, null, new { @class = "form-control", required = "required" })
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.FirstName, "Prénom")
                @Html.TextBoxFor(m => m.FirstName, null, new { @class = "form-control", required = "required" })
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.LastName, "Nom")
                @Html.TextBoxFor(m => m.LastName, null, new { @class = "form-control", required = "required" })
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Email)
                @Html.TextBoxFor(m => m.Email, null, new { @class = "form-control", required = "required" })
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Password, "Mot de passe")
                @Html.PasswordFor(m => m.Password, new { @class = "form-control", required = "required" })
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 col-xl-6">
            <div class="form-group">
                @Html.LabelFor(m => m.Address, "Adresse")
                @Html.TextBoxFor(m => m.Address, null, new { @class = "form-control", required = "required" })
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.PostalCode, "Code postal")
                @Html.TextBoxFor(m => m.PostalCode, null, new { @class = "form-control", required = "required" })
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Town, "Région")
                @Html.TextBoxFor(m => m.Town, null, new { @class = "form-control", required = "required" })
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Country, "Pays")
                @Html.TextBoxFor(m => m.Country, null, new { @class = "form-control", required = "required" })
            </div>
            <input class="btn btn-primary" type="submit" value="OK" />
        </div>
    }

    <p>Déjà un compte ? @Html.ActionLink("Connectez-vous !", "Login", "Authentication")</p>
</div>

