@model Tuple<Videorama.Models.Product, List<Videorama.Models.Person>>

@{
    ViewBag.Title = "Détails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section scripts {
    <script>
        $(document).ready(function () {
            $('#add-basket').click(function (e) {
                e.preventDefault();

                currentProductId = document.getElementById('idProduct').value;             
                retrievedData = localStorage.getItem("productList");
                idsInLocalStorage = JSON.parse(retrievedData);              

                // CHeck if the product is yet in the basket
                if (idsInLocalStorage != null) {
                    console.log(idsInLocalStorage.includes(currentProductId));
                    if (!idsInLocalStorage.includes(currentProductId)) {
                        idsInLocalStorage.push(currentProductId);
                        localStorage.setItem('productList', JSON.stringify(idsInLocalStorage));
                    }
                } else {
                    var array = [currentProductId];
                    localStorage.setItem('productList', JSON.stringify(array));
                }
            });
        });


    </script>
}


<h2>@Html.DisplayName(Model.Item1.Title)</h2>
<hr />
@Html.HiddenFor(model => model.Item1.IdProduct, new { @id = "idProduct" })
<div>
    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 col-xl-4">
        <img class="img-responsive" src="../..@String.Format("{0}", Model.Item1.Picture)" alt="image">

        <p>
            <span>De :</span>
            @foreach (var person in Model.Item2)
            {
                if (person.Profession.Title.ToString() != "Acteur")
                {
                    <span>@person.FirstName @person.LastName</span>@(Model.Item2[Model.Item2.Count - 1] != person ? ", " : "")
                }
            }
        </p>
        <p>
            <span>Avec :</span>
            @foreach (var person in Model.Item2)
            {
                if (person.Profession.Title.ToString() == "Acteur")
                {
                    <span>@person.FirstName @person.LastName</span>@(Model.Item2[Model.Item2.Count - 1] != person ? ", " : "")
                }
            }
        </p>

    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8 col-xl-8">
        <h3>Synopsis</h3>
        @Html.Raw(Model.Item1.Synopsis)
        <h3>Date de sortie</h3>
        @Html.DisplayName(Model.Item1.ReleaseDate.ToString())
        <div>
            <span type="button" class="price-detail">@Html.DisplayName(Model.Item1.Price.ToString()) €</span>
            <button type="button" class="btn btn-primary" id="add-basket">
                Ajouter au panier
            </button>
        </div>
    </div>
</div>
