@model Tuple<Videorama.Models.Product, List<Videorama.Models.Person>>

@{
    ViewBag.Title = "Détails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Html.DisplayName(Model.Item1.Title)</h2>
<div>
    @if (Request.IsAuthenticated)
    {
        if (Model.Item1.Stock > 0)
        {
            @Html.ActionLink("Ajouter au panier", "AddProductBasket", "Products", new { idProduct = Model.Item1.IdProduct }, new { @class = "btn btn-primary pull-right ml-8" })
        }
        else
        {
            <span class="text-warning">Produit indisponible pour le moment</span>
        }

    }
    @if (!Request.IsAuthenticated)
    {
        <span class="text-warning">Pour commander un produit, vous devez être connecté</span>
    }
    <span type="button" class="price-detail pull-right">@Html.DisplayName(Model.Item1.Price.ToString()) €</span>
</div>
<hr />
@Html.HiddenFor(model => model.Item1.IdProduct, new { @id = "idProduct" })
<div>
    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 col-xl-4">
        <img class="img-responsive" src="~/Content/Images/@String.Format("{0}", Model.Item1.Picture)" alt="affiche">

        <p>
            <span>De :</span>
            @foreach (var person in Model.Item2)
            {
                if (person.Profession.Title.ToString() != "Acteur")
                {
                    <span>@person.FirstName @person.LastName</span>@(Model.Item2[Model.Item2.Count - 1] != person ? ", " : "")
                }
            }
        </p>
        <p>
            <span>Avec :</span>
            @foreach (var person in Model.Item2)
            {
                if (person.Profession.Title.ToString() == "Acteur")
                {
                    <span>@person.FirstName @person.LastName</span>@(Model.Item2[Model.Item2.Count - 1] != person ? ", " : "")
                }
            }
        </p>

    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8 col-xl-8">
        <h3>Synopsis</h3>
        @Html.Raw(Model.Item1.Synopsis)
        <h3>Date de sortie</h3>
        @Html.DisplayName(Model.Item1.ReleaseDate.ToString())
    </div>
</div>
