@model Tuple<Videorama.Models.Product, List<Videorama.Models.Person>>

@{
    ViewBag.Title = "Détails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Html.DisplayName(Model.Item1.Title)</h2>
<hr />
<div>
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 col-xl-6">
        <img id="img_new" src="../..@String.Format("{0}", Model.Item1.Picture)" alt="image">

        <p>De :</p>
        @foreach (var person in Model.Item2)
        {
            if (person.Profession.Title.ToString() != "Acteur")
            {
                <p>@Html.DisplayName(person.FirstName) @Html.DisplayName(person.LastName)</p>
            }
        }
        <p>Avec :</p>
        @foreach (var person in Model.Item2)
        {
            if (person.Profession.Title.ToString() == "Acteur")
            {
                <p>@Html.DisplayName(person.FirstName) @Html.DisplayName(person.LastName)</p>
            }
        }

    </div>
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 col-xl-6">
        <h3>Synopsis</h3>
        @Html.DisplayName(Model.Item1.Synopsis)
        <h3>Date de sortie</h3>
        @Html.DisplayName(Model.Item1.ReleaseDate.ToString())
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
        @Html.ActionLink("Retour à la liste", "ProductsList")
    </p>
</div>
