@model IEnumerable<Videorama.Models.Product>

@{
    ViewBag.Title = "ProductsList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Résultats de votre recherche</h2>
<p>Nombre de résultats : @Html.Raw(Model.Count())</p>

<table class="table table-hover">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ReleaseDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.ActionLink(item.Title, "Details", "Products", new { id = item.IdProduct }, null)
            </td>
            <td>
                @Html.DisplayFor(Model => item.ReleaseDate)
            </td>
            <td>
                @Html.DisplayFor(Model => item.Price) €
            </td>
        </tr>
    }

</table>
